Source: acmebot
Section: web
Priority: optional
Maintainer: Hinrikus Wolf <mail@hinrikus-wolf.de>
Uploaders: Lars Beckers <lars@extmind.de>
Build-Depends: debhelper (>=13~),
	       debhelper-compat (=13),
               dh-python,
	       pybuild-plugin-pyproject,
               python3-all,
               python3-appdirs (>=1.4.3),
               python3-pyparsing (>=2.2.0),
               python3-packaging (>=16.8),
               python3-openssl (>=17.5.0),
               python3-dns (>=3.1.0),
               python3-cryptography (>=2.1.4),
               python3-asn1crypto (>=0.24.0),
               python3-acme (>=0.25.1),
               python3-yaml (>=3.13),
	       python3-setuptools
Standards-Version: 4.3.0
Homepage: https://github.com/plinss/acmebot
Vcs-Git: https://github.com/hinrikus/acmebot.git
Vcs-Browser: https://github.com/hinrikus/acmebot

Package: acmebot
Architecture: all
Depends: ${python3:Depends},
	 ${misc:Depends},
         python3-appdirs (>=1.4.3),
         python3-pyparsing (>=2.2.0),
         python3-packaging (>=16.8),
         python3-openssl (>=17.5.0),
         python3-dns (>=3.1.0),
         python3-cryptography (>=2.1.4),
         python3-asn1crypto (>=0.24.0),
         python3-acme (>=0.25.1),
         python3-yaml (>=3.13)
Description: Python tool for managing certificates using ACME v1/v2 protocol
 acmebot acquires and maintains certificates from a certificate authority
 using the ACME v1/v2 protocol supporting Let's Encrypt.
 It does not modify configuration files of other services by itself,
 or provide a server to perform stand-alone domain validation.
 .
 It supports both RSA and ECDSA certificates in parallel (default).
 acmebot separates the authorization (domain validation) and certificate
 issuance processes allowing one machine to maintain authorizations.
